In [1]:
# Script name: NYC+ All Break
# Author: Patrick Burke
# Date Created: 4/11/2022
# --------------------------
# Notes:
# ---------------------------

# Packages
import numpy as np
import pandas as pd
import statsmodels.api as sm
import statsmodels.formula.api as smf
from scipy import stats
import json

In [2]:
elmhurst = pd.read_csv('/Users/patrickburke/OneDrive - Emory University/Econ372/Final Project/Queens/NYC Health + Hospitals : Elmhurst/132655001_Elmhurst Hospital Center_standardcharges.csv')

/Users/patrickburke/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (3,10) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
jacobi = pd.read_csv('/Users/patrickburke/OneDrive - Emory University/Econ372/Final Project/Bronx/NYC Health + Hospitals : Jacobi/132655001_Jacobi Medical Center_standardcharges.csv')

In [4]:
NCbronx = pd.read_csv('/Users/patrickburke/OneDrive - Emory University/Econ372/Final Project/Bronx/NYC Health + Hospitals : North Central Bronx/132655001_North Central Bronx Hospital_standardcharges.csv')

In [5]:
lincoln = pd.read_csv('/Users/patrickburke/OneDrive - Emory University/Econ372/Final Project/Bronx/NYC+ Lincoln/132655001_Lincoln Medical Center_standardcharges.csv')

In [6]:
code_list = ['MS-DRG V38 (FY 2021) 392', 'MS-DRG V38 (FY 2021) 291', 'MS-DRG V38 (FY 2021) 690',\
                 'MS-DRG V38 (FY 2021) 871', 'MS-DRG V38 (FY 2021) 312']

In [7]:
elmhurst = elmhurst[elmhurst['Code'].isin(code_list)]
jacobi = jacobi[jacobi['Code'].isin(code_list)]
NCbronx = NCbronx[NCbronx['Code'].isin(code_list)]
lincoln = lincoln[lincoln['Code'].isin(code_list)]

In [8]:
elmhurst = elmhurst[['Procedure','Procedure Description','Plan(s)','Payer','IP Negotiated Charge']]
jacobi = jacobi[['Procedure','Procedure Description','Plan(s)','Payer','IP Negotiated Charge']]
NCbronx = NCbronx[['Procedure','Procedure Description','Plan(s)','Payer','IP Negotiated Charge']]
lincoln = lincoln[['Procedure','Procedure Description','Plan(s)','Payer','IP Negotiated Charge']]

In [9]:
elmhurst = elmhurst.rename(columns={'IP Negotiated Charge':'NegotiatedPayment','Plan(s)':'Plan'})
jacobi = jacobi.rename(columns={'IP Negotiated Charge':'NegotiatedPayment','Plan(s)':'Plan'})
NCbronx = NCbronx.rename(columns={'IP Negotiated Charge':'NegotiatedPayment','Plan(s)':'Plan'})
lincoln = lincoln.rename(columns={'IP Negotiated Charge':'NegotiatedPayment','Plan(s)':'Plan'})

In [10]:
plan_list = ['EMBLEMHEALTH HIP ESSENTIAL 1&2 [506008]','1199SEIU BENEFIT FUND [514001]',\
                 'AETNA BETTER HEALTH MLTC [312000]','UHC OPTIONS [509010]']

In [11]:
elmhurst = elmhurst[elmhurst['Plan'].isin(plan_list)]
jacobi = jacobi[jacobi['Plan'].isin(plan_list)]
NCbronx = NCbronx[NCbronx['Plan'].isin(plan_list)]
lincoln = lincoln[lincoln['Plan'].isin(plan_list)]

In [12]:
elmhurst['NegotiatedPayment'] = elmhurst['NegotiatedPayment'].str.replace(',', '').astype(float)
jacobi['NegotiatedPayment'] = jacobi['NegotiatedPayment'].str.replace(',', '').astype(float)
NCbronx['NegotiatedPayment'] = NCbronx['NegotiatedPayment'].str.replace(',', '').astype(float)
lincoln['NegotiatedPayment'] = lincoln['NegotiatedPayment'].str.replace(',', '').astype(float)

In [13]:
elmhurst = elmhurst.groupby(['Procedure'],as_index=False).NegotiatedPayment.apply(lambda x: np.mean(x))
jacobi= jacobi.groupby(['Procedure'],as_index=False).NegotiatedPayment.apply(lambda x: np.mean(x))
NCbronx = NCbronx.groupby(['Procedure'],as_index=False).NegotiatedPayment.apply(lambda x: np.mean(x))
lincoln = lincoln.groupby(['Procedure'],as_index=False).NegotiatedPayment.apply(lambda x: np.mean(x))

In [14]:
elmhurst

  Procedure  NegotiatedPayment
0     MS291         19632.4000
1     MS312          4973.1000
2     MS392          5072.5325
3     MS690          5651.4900
4     MS871         52061.7625

In [22]:
elmhurst.to_excel('/Users/patrickburke/OneDrive - Emory University/Econ372/Final Project/Queens/NYC Health + Hospitals : Elmhurst/elmhurstavg2.xlsx')

In [16]:
jacobi

  Procedure  NegotiatedPayment
0     MS291         19917.5450
1     MS312          5160.2850
2     MS392          5063.1550
3     MS690          6199.1150
4     MS871         26395.5025

In [24]:
jacobi.to_excel('/Users/patrickburke/OneDrive - Emory University/Econ372/Final Project/Bronx/NYC Health + Hospitals : Jacobi/jacobiavg2.xlsx')

In [18]:
NCbronx

  Procedure  NegotiatedPayment
0     MS291         19774.6525
1     MS312          6941.0400
2     MS392          5892.3550
3     MS690          6138.4825
4     MS871         42161.5900

In [25]:
NCbronx.to_excel('/Users/patrickburke/OneDrive - Emory University/Econ372/Final Project/Bronx/NYC Health + Hospitals : North Central Bronx/NCbronxavg2.xlsx')

In [20]:
lincoln

  Procedure  NegotiatedPayment
0     MS291         37764.4800
1     MS312          6981.4275
2     MS392          7593.8300
3     MS690          4967.2600
4     MS871         20906.7150

In [26]:
lincoln.to_excel('/Users/patrickburke/OneDrive - Emory University/Econ372/Final Project/Bronx/NYC+ Lincoln/LincolnAvg2.xlsx')